// Jade file to specify output of an actors list
// Inherits from layout
extend layout
block content
  h1 #{title}
  
  // Add pin from external URL
  tr
    td
      a(href="/addnewpin/addfromurl?id="+userid) From Web <br/>
      <br/>

  // Add pin through recommendations
  tr
    td
      a(href="/recommendation?id="+userid) From Pennterest <br/>
      <br/>