doctype 5
html(lang="en")
  head
    title
        | #{pageTitle}
    block head
  body

    // Home page of logged in user
    tr
      td
        a(href="./home?id="+session_userid) Home <br/>
        <br/>
        
    #link_container
        a(id="followers", href="../followers")
            Followers
        a(id="following", href="../following")
            Following
    .col
    - for (var i = 0; i < data.length; i++)
        tr
          td 
            a(href="./pins") #{data[i].FIRSTNAME} #{data[i].LASTNAME} <br/>
