doctype 5
html(lang="en")
  head
    title
        | #{pageTitle}
    block head
  body
    p
      form(method='get', action='./home')
        input(type='submit', value='Return')
        
    #link_container
        a(id="followers", href="../followers")
            Followers
        a(id="following", href="../following")
            Following
    .col
    - for (var i = 0; i < data.length; i++)
        tr
          td 
            a(href="./pins") #{data[i].FIRSTNAME} #{data[i].LASTNAME} <br/>
