doctype 5
html(lang="en")
  head
    title
        | #{pageTitle}
    block head
  body
    #link_container
        a(id="followers", href="../routes/followers")
            Followers
        a(id="following", href="../routes/follow")
            Following
    .col
        - for (var i = 0; i < data.length; i++)
            - var str = '/profile?id=' + data[i]['USERID'];
            a(href=str)
                | #{data[i]['FIRSTNAME']} #{data[i]['LASTNAME']}
            br

