extends grid
block results
    #photocol.col
        br
        - for (var i = 0; i < results.length; i++)
            a(href='/pinsphotos?pid=' + results[i]['PHOTOID'])
                img(class="img" src="#{results[i]['URL']}")
