extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form(method='get', action='/', id='mainForm')
    input(name='firstName', value='')
    input(name='lastName', value='')
    input(type='submit', value='Your Pins', onClick='document.getElementById(\'mainForm\').action=\'/userpins\';')
  