!!! 5
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='shortcut icon', href='docs-assets/ico/favicon.png')
  
  title Pennterest
  //
    Bootstrap core CSS 
  link(href='stylesheets/bootstrap.css', rel='stylesheet')
  //
    Custom styles for this template 
  link(href='stylesheets/signin.css', rel='stylesheet')
  link(rel='stylesheet', href='/stylesheets/style.css')
  
body
  .container 
    if userid == sessionid
      h2 My interests
    else
      h2 Interests of #{userid}

  .container
    a(href='/home?id=' + userid) Back </br></br>

  .container
    ul.list-group(style='width: 400px;')
      - for (var inx = 0; inx < results.length; inx++)
          li.list-group-item 
            if userid == sessionid
              a(href='/interestdeletion?id=' + userid + '&q=' + results[inx]['INTERESTVALUE']) x
              &nbsp;&nbsp;
            | #{results[inx]['INTERESTVALUE']}
    
    if userid == sessionid
      p
        form(method='get' action='./interestaddition')
          input(type='text', name='interest', size='25')
          input(type='submit', value='Add!')
          </br>
          </br>