extends layout

block content

 h1= title
  p
   '
   a(href='/login') Home
   '  '
   a(href='/boards') Boards
   '  '
   a(href='/pins') Pins
   '  '
   a(href='/followers') Followers
   '  '
   a(href='/following') Following
   '  '
   a(href='/recommendation') Recommendation
   '  '
   a(href='/interest') Interests
   '  '
   a(href='/logout') Logout
   '