extends layout

block content

 h1= title
  p
   '  '
   a(href='/home?id=' + user_id) Home
   '  '
   a(href='/boards?id=' + user_id) Boards
   '  '
   a(href='/pins?id=' + user_id) Pins
   '  '
   a(href='/followers?id=' + user_id) Followers
   '  '
   a(href='/following?id=' + user_id) Following
   '  '
   a(href='/logout?id=' + user_id) Logout
   '