!!! 5
html(lang='en')
head
  title Home Sweet Home
  link(rel='stylesheet', type='text/css', href='css/bootstrap.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
  script(src='js/bootstrap.js')

 
  body
    h2(style='font-size: 18px;')
    | #{title}
    </br>
    </br>

    table 
      tr
        td
          .container
            .row
              .span3
                .navbar
                  .navbar-inner
                    ul.nav
                      li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                          |  Menu
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='/home?id=' + queried_id) Home
                          li
                            a(href='/boards?id=' + user_id) My Boards
                          li
                            a(href='/pins?id=' + user_id) My Pins
                          li
                            a(href='/' + user_id + '/following') I am Following
                          li
                            a(href='/' + user_id + '/followers') My Followers
                          li
                            a(href='/recommendation?id=' + user_id) Recommended For Me
                          li
                            a(href='/interest?id=' + user_id) My Interests
                          li
                            a(href='/search/photos') Search!
                          li
                            a(href='/logout?id=' + queried_id) Logout



      
