extends layout

block content

  h1= title
    </br>
    tr
      td
        a(href='/home?id=' + queried_id) Home
      td
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      td
        a(href='/logout?id=' + queried_id) Logout
      td
        &nbsp;&nbsp;

      </br>
      </br>

      td
        a(href='/boards?id=' + user_id) Boards
      td
        &nbsp;&nbsp;

      td
        a(href='/pins?id=' + user_id) Pins
      td
        &nbsp;&nbsp;

      td
        a(href='/' + user_id + '/followers') Followers
      td
        &nbsp;&nbsp;

      td
        a(href='/' + user_id + '/following') Following
      td
        &nbsp;&nbsp;

      td
        a(href='/recommendation?id=' + user_id) Recommendation
      td
        &nbsp;&nbsp;

      td
        a(href='/interest?id=' + user_id) Interests
      td
          &nbsp;&nbsp;

      td
        a(href='/search/photos') Search
      td
         &nbsp;&nbsp;
