extends layout

block content
  h1 #{title}
  p
    form(method='get', action='./home')
      input(type='submit', value='Return')
      
  table(border='1')
    - for (var inx = 0; inx < results.length; inx++)
        tr
          td=results[inx].PHOTOID
          td 
            img(src=results[inx].URL, height="240" width="320") 
  