extends layout

block content
  h1 #{title}
  
  tr
    td
      a(href="./home?id="+session_userid) Home <br/>
      <br/>

  table(border='1')
    - for (var i = 0; i < results.length; inx++)
        tr
          td=results[inx].PHOTOID
          td 
            img(src=results[inx].URL, height="240" width="320") 
  