extends layout

block content
  h2
  |  #{title}
  </br>
  </br>
  table(border = 0)
    
    tr
      td
        .container
          .row
            .span3
              .navbar
                .navbar-inner
                  ul.nav
                    li.dropdown
                      a.dropdown-toggle(data-toggle='dropdown', href='#')
                        |  Menu
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='/home?id=' + session_id) Home
                        li
                          a(href='/boards?id=' + session_id) My Boards
                        li
                          a(href='/pins?id=' + session_id) My Pins
                        li
                          a(href='/' + session_id + '/following') I am Following
                        li
                          a(href='/' + session_id + '/followers') My Followers
                        li
                          a(href='/recommendation?id=' + session_id) Recommended For Me
                        li
                          a(href='/interest?id=' + session_id) My Interests
                        li
                          a(href='/search/photos') Search!
                        li
                          a(href='/logout?id=' + session_id) Logout
      tr(style='font-size: 20px;')
        td
          a(href='/boards?id=' + queried_id) Boards
      tr
        td
          </br>
      
      tr(style='font-size: 20px;')
        td
          a(href='/pins?id=' + queried_id) Pins
      tr
        td
          </br>
      tr(style='font-size: 20px;')
        td
          a(href='/' + queried_id +'/followers') Followers
      tr
        td
          </br>
      tr(style='font-size: 20px;')
        td
          a(href='/' + queried_id + '/following') Following
      tr
        td
          </br>
      tr(style='font-size: 20px;')
        td
          a(href='/interest?id=' + queried_id) Interests
      tr
        td
          </br>
