extends layout

block content
  h1= title
    </br>
    tr
      td
        a(href='/home?id=' + user_id) Home
      td
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      td
        a(href='/logout?id=' + queried_id) Logout
      td
        &nbsp;&nbsp;

      </br>

      td
        a(href='/boards?id=' + queried_id) Boards
      td
        &nbsp;&nbsp;

      td
        a(href='/pins?id=' + queried_id) Pins
      td
        &nbsp;&nbsp;

      td
        a(href='/' + queried_id +'/followers') Followers
      td
        &nbsp;&nbsp;

      td
        a(href='/' + queried_id + '/following') Following
      td
          &nbsp;&nbsp;

      td
        a(href='/search/photos') Search
      td
         &nbsp;&nbsp;
