doctype 5
html(lang="en")
  head
    link(rel="stylesheet", href="/stylesheets/search.css")
    title
      | #{pageTitle}
  body
    form(method="get")
        | Search: <input type="text" name="q"> <input type="submit" value="Search">
    #container
        #usercol.col
            h1
                Users
            - for (var i = 0; i < users.length; i++)
                | #{users[i]['EMAIL']} <br/>
        #photocol.col
            h1
                Photos
            - for (var i = 0; i < photos.length; i++)
                img(class="img" src="#{photos[i]['URL']}")
                if i + 1 % 3 === 0
                    <br/>


