doctype 5
html(lang="en")
  head
    link(rel="stylesheet", href="/stylesheets/search.css")
    title
      | #{pageTitle}
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  body
    form(method="get")
        | Search: <input type="text" name="q"> <input type="submit" value="Search">
    #buttons
        a.tab(href="/search/users")
            | Users
        a.tab(href="/search/photos")
            | Photos
        a.tab(href="/search/interests")
            | Interests
    #container
        block results
    script.
        window.glob = 0;
        $('.img').hover(
            function(e) {
                var str =
                    '<img src="' + $(this).attr('src') + '" class="big ' +
                    (e.pageX < $(window).width() / 2 ? 'right' : 'left') + '" ' +
                    'id="big' + window.glob + '">';
                $('#container').append(str);
                var i = $(window).scrollTop() + $('#container').position().top;
                $('#big' + window.glob).css({top:i});
                $('.img').css({opacity:0.4});
            },
            function() {
                $('#big' + window.glob++).remove();
                $('.img').css({opacity:1});
            }
        );

