body {
    background-image: url('../img/black-metal.JPG');
    color: #00FFFF;
    font-family: Georgia;

}

.title {
    font-size: 2em;
    font-family: Georgia;
    color: #eee;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #00FFFF;
    font-family: Georgia;
}

a.blue {
    color: #33A6F2;
}

.col {
    margin-left: 5%;
    margin-right: 5%;
}

.tab {
    margin-left: 1em;
    font-size: 35px;
}

.img {
    z-index: 0;
    width: 23%;
    height: 11em;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
}

.big {
    position: absolute;
    z-index: 1;
    width: 44%;
    height: 27em;
}

.left {
    z-index: 0;
    margin-left: 5%;
}

.right {
    margin-left: 50%;
}

.toplink {
    margin-left: 1em;
    font-size: 35px;
}

.name {
    display: inline-block;
    text-align: center;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    color: #7AFF7A;
}

.name.blue {
    color: #33A6F2;
}

.pink {
    color: #FF00FF;
}
