.col {
    width: 150px;
}

#container {
    width: 1300px;
}

#usercol {
    width: 400px;
    float: left;
}

#photocol {
    width: 900px;
    float: right;
}

.img {
    width: 280px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}
