.col {
    margin-left: 5%;
    margin-right: 5%;
}

.tab {
    margin-left: 1em;
    font-size: 35px;
}

.img {
    z-index: 0;
    width: 23%;
    height: 6em;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
}

.big {
    position: absolute;
    z-index: 1;
    width: 44%;
    height: 13em;
}

.left {
    z-index: 0;
    margin-left: 5%;
}

.right {
    margin-left: 50%;
}
